body{
    background:url("images/container-bg.png")repeat 0 0;
	min-width: 500px;
     background-repeat:no-repeat;

  background-color: brown;
    background-size:cover;
}

#title{
	text-align: center;
	font-family: "Bebas Neue", Arial;
    -webkit-animation:colorchange 20s infinite alternate;
      
      
    }

    @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
}
h1{
		
	font-size: 70px;
	margin-bottom: 0px;
    
}
.authenticaion{
    text-align: center;
}
h3{
	color:chocolate;
	margin-top: 0px;
	font-size: 35px;
}

#intro p{
	color:bisque;
	font-size: 25px;
	opacity: 0.5;
}
#auth{
    color:aliceblue;}

#login,#register{
    
	display: inline-flex;
	width: 49%;
	margin: auto;
	border:2px solid white;
	border-radius: 3%;
	font-weight: bold;
}
#login p,#login form,#register p{
	display: block;
    text-decoration-color: cadetblue ;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
     background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    position:absolute;
    

    
    text-decoration: none;
    color: initial;
}
a.button:hover{
    background-color: grey;
	color: black;
	transition: 0.5s;
}

form{
	color: white;
	display: block;
	margin: auto;
	margin-top: 10px;
}

.btn {
  background-color: #000; /* Green */
  border: none;
  color: white;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  display: block;
  font-size: 16px;
  border-radius: 5%;
}

.btn:hover {
	background-color: grey;
	color: black;
	transition: 0.5s;

}



#p-title{
	color: white;
}

#selection{
	visibility: hidden;
}

