body{
	background-image: url("https://cache.desktopnexus.com/thumbseg/2006/2006797-bigthumbnail.jpg");
	
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
	float: right;
}
.search-btn{
    font-size: 20px;
    background-color:aquamarine;
}
.search-btn:hover{
    background-color:dodgerblue;
	color: black;
	transition: 0.5s;

    
}

}
.container{
	margin:auto;
	padding:auto;
	 
	color: white;
	text-align: center;
	height: 100vh;
}

.title{
	color:azure;
	text-align: center;
	padding-top: 10px;
	font-family: "Bebas Neue", Arial;
}

.section-title{
	color:rgb(104,184,215);
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	font-weight: bold;
	width: 100vw;
}
li{
	list-style: none;
	padding: auto;
	margin: auto;
}
.watch-later,.most-popular{
	margin-top: 30px;
}
li i{
	float:right;
	margin-right: 30px;
}

.card{
	display: block;
	width: 60%;
	max-width: 400px;
	margin: auto;
	margin-top: 25px;
	border:2px solid white;
	border-radius: 3%;
	font-weight: bold;
    color:coral;
}

#logout-btn{
	margin-right: 10px;
    color: darkkhaki;
}

.btn {
  background-color:crimson; 
  border: none;
  color: white;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  display: block;
  font-size: 16px;
  border-radius: 5%;
}

.btn:hover {
	background-color: grey;
	color: black;
	transition: 0.5s;

}


