body{
	background-image:url("../images/735997.jpg");
	background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    

}
h1{
    text-align: center;
	
    margin-left:0px;
    margin-right:1300px;
    -webkit-animation:colorchange 20s infinite alternate;
    font-family:fantasy;
    height:60px;
    font-size: 35px;  
    font-family:'Mitr';
    
      
    }
.de{
    font-size:55px;
    font-family: 'Black Ops One';
}


    @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }
    


h3{
    text-align: center;
    color:#E8E5E5;
    font-family:'Julius Sans One';
    font-size:25px;
}
h2{
    text-align: center;
    color:#2ECC71;
    font-size: 29px;
    font-family:'Covered By Your Grace';
}
#selection{
    padding-left: 600px;
    margin:0;
   color:chocolate;
    
}


#book-btn{
    background-color:#0484FC;
    font-size: 30px;
    border-color:#7D4B12#FC0804
    border-radius:10px;
    
}
#book-btn:hover{
    background-color:darkblue;
    transition:0.2s;
}
#song-btn{
    background-color:#8F04FC;
    font-size: 30px;
    padding:2px;
    margin:4px;
     border-radius:10px;
}
#song-btn:hover{
    background-color:cadetblue;
    transition:0.2s;
}#anime-btn{
    background-color:#04D2FC;
    font-size: 30px;
    padding:2px;
    margin:4px;
     border-radius:10px;
}
#anime-btn:hover{
    background-color:forestgreen;
    transition:0.2s;
}

nav{
	float: right;
    
}
#logout-btn{
    font-size:25px;
}
* {
  box-sizing: border-box;
}

/* Style the search field */


/* Style the submit button */
form.example button {
  
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
    transition:0.2s;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}




}
.container{
	margin:auto;
	padding:auto;
	 
	color: white;
	text-align: center;
	height: 100vh;
}

.title{
	color:#3EDF67;
	text-align: center;
	padding-top: 10px;
	font-family: "Bebas Neue", Arial;
}

.section-title{
	color:#3EDF67;
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	font-weight: bold;
	width: 100vw;
}
li{
	list-style: none;
	padding: auto;
	margin: auto;
}
.watch-later,.most-popular{
	margin-top: 30px;
}
li i{
	float:right;
	margin-right: 30px;
    color:#ABF00C;
}

.card{
	display: block;
	width: 60%;
	max-width: 400px;
	margin: auto;
	margin-top: 25px;
	border:2px solid white;
	border-radius: 3%;
	font-weight: bold;
    color:#EDBC38;
}

#logout-btn{
	margin-right: 10px;
    color: darkkhaki;
    margin-bottom: 1000px;
    border-radius: 5%;
    font-size:70px;
}
.btn{
    font-size:25px;
    
}


.search-box{
    margin-left:1010px;
    color: black;
    width:600px;
    padding-left:0;
    border:none;
    border-bottom: 2px;
}
input{
     background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    height:453x;
    transition:height 1s;
    -webkit-transition:height 1s;
    width: 25px;
}
index:focus{
     height:50px;
    font-size:16px;
}

.btn:hover {
	background-color: grey;
	color: black;
	transition: 0.5s;

}
.section-title{
    margin-left:60px;
    color:#3EDF67;
}
#upload-files{
    text-align: center;
    
}
.gbtn{
    background-color: #313D89;
    border-radius: 10px;
    color:aliceblue;
}
.gbtn:hover{
    background-color:darkcyan;
    transition:0.2s;
}
h4{
    color:#DFC23E;
    font-size: 23px;
    
}.searchbtn{
    width:40px;
}

