body{
    background-image: url(../images/Cave_558250_3840x2400.jpg);
        background-size: cover;
    background-repeat: no-repeat;
    
}
.login-text{
    font-weight: bold;
    font-family: monospace;
    color:#F36A7D;
    
        
}
i{
    color:#3887E5;
    font-size:25px;
}

.container{
    text-align: center;
    border-top:25%;
    margin-top:120px;
}
.violet-span{
   
color:#AA2ADA
}
.green-span{
    color:#76F144;
}
.red-span{
    color:#D1473C;
}
.secondary-title{
    font-size: 40px;
    font-weight: bold;
    color:#EEF114;
}
.main-title{
    margin-left:75px;
    font-size: 60px;
    font-weight: bolder;
    color:#6EDA23;
    text-decoration: underline;
    
}

.quote{
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'Amatic SC';
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color:#31718E   ;
}
.t-input{
    height:25px;
    border: none;
    border-bottom: 5px;
}

.register-btn{
  margin-top: 1.5rem;
  background-color: #000;
  color: rgb(58, 151, 29);
  border: 1px solid rgb(58, 151, 29);
  font-family: 'Staatliches';
  font-size: 1.4rem;
    width:110px;
    height:40px;
}

.register-btn:hover{
    background-color: rgb(58, 151, 29);
    color: #000;
    border: 1px solid #000;
    transition:0.2s;
  }

.login-text{
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.bottom-bar{
    position: relative;
}

.bottom-bar::after{
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(58, 151, 29);
    position: absolute;
    bottom: -10px;
    left: 0;
}

@media (max-width: 700px){

    body{
      height: 100vh;
    }
}
.home-div{
    font-size:25px;
    float:right;
    background-color:chartreuse;
}
.t-input{
    overflow:hidden;
    font-size: 13px;
    padding:8px;
    margin:8px;
   border-radius: 10px;
    border:none;
    border-bottom: 3px solid #5DBB28;  
}

