body{
	background-color: #000000;
	min-width: 500px;
}

#title{
	text-align: center;
	font-family: "Bebas Neue", Arial;
}
h1{
	color: #1AB309;	
	font-size: 70px;
	margin-bottom: 0px;
}
h3{
	color: #FFFFFF;
	margin-top: 0px;
	font-size: 35px;
}

#intro p,p{
	color: #FFFFFF;
	font-size: 25px;
	opacity: 0.5;
}

#login,#register{
	display: inline-flex;
	width: 49%;
	margin: auto;
	border:2px solid white;
	border-radius: 3%;
	font-weight: bold;
}
#login p,#login form,#register p{
	display: block;
}

form{
	color: white;
	display: block;
	margin: auto;
	margin-top: 10px;
}

.btn {
  background-color: #000; /* Green */
  border: none;
  color: white;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  display: block;
  font-size: 16px;
  border-radius: 5%;
}

.btn:hover {
	background-color: grey;
	color: black;
	transition: 0.5s;

}



#p-title{
	color: white;
}

#selection{
	visibility: hidden;
}

