body{
	margin: 0;
	padding: 0;
	min-width: 400px;
}
nav{
	float: right;
}
.container{
	margin:auto;
	padding:auto;
	background-color: #000; 
	color: white;
	text-align: center;
	height: 100vh;
}

.title{
	color: #1AB309;
	text-align: center;
	padding-top: 10px;
	font-family: "Bebas Neue", Arial;
}

.section-title{
	color: #1AB309;
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	font-weight: bold;
	width: 100vw;
}
li{
	list-style: none;
	padding: auto;
	margin: auto;
}
.watch-later,.most-popular{
	margin-top: 30px;
}
li i{
	float:right;
	margin-right: 30px;
}

.card{
	display: block;
	width: 60%;
	max-width: 400px;
	margin: auto;
	margin-top: 25px;
	border:2px solid white;
	border-radius: 3%;
	font-weight: bold;
}

#logout-btn{
	margin-right: 10px;
}

.btn {
  background-color: #000; /* Green */
  border: none;
  color: white;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  display: block;
  font-size: 16px;
  border-radius: 5%;
}

.btn:hover {
	background-color: grey;
	color: black;
	transition: 0.5s;

}


