<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Artemis-Arrow</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index_styles.css">
</head>
<body>
	<div class="container">
		<div class="box">
			<div id="title">
				<div class="main-title">Artemis Arrow</div>
				<div class="second-title">Hunt from the Web</div>
			</div>
			<div class="intro-text">
				Tired of looking in different places for a variety of entertainment? Yep, we have been there! That's why, we introduce you to Artemis Arrow. Artemis is the Greek goddess of hunt. There has never been a history of her arrow ever missing. Anything you need, The Arrow of Artemis will race towards it in the colossal hub of Internet and bring it to you without fail.
			</div>

			<div id="authentication">
				<div id="auth">Get Started</div>
				<a href="{{ url_for('signup') }}" class="button">Register</a>
				<a href="{{ url_for('login') }}" class="button">Sign in</a>
			</div>

			<a target="blank" href="https://github.com/TheLethalCode/Artemis-arrow" class="icon">
				<img src="../static/images/icons8-octocat-filled-480.png" alt="">
			</a>
		</div>
	</div>

	<div id='flashes'>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
			  {% for message in messages %}
				 {{ message }}
			  {% endfor %}
		   {% endif %}
		{% endwith %}
	</div>

	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	
</body>
</html>
