<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artemis Arrow Login Page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>ARTEMIS ARROW</h1>
			<h3>-HUNT FROM WEB-</h3>
		</div>
		<div id="intro">
			<p>
			   Tired  of looking in different places for a variety of different entertainment? Yep, we have been there, done that! That's why, we introduce you to Artemis Arrow. Artemis is the Greek goddess of hunt. There has never been a history of her arrow ever missing. Anything you need, Artemiss' arrow will race towards it in the humongous hub (i.e internet) and bring it to you without fail.
			</p>
		</div>


    <div class="main">

        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form">
                    <h2>Sign up </h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="Firstname" id="name" placeholder="FirstName"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="Lastnamename" id="name" placeholder="LastName"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="Username" id="name" placeholder="Username"/>
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="password" id="password" placeholder="Password"/>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                     <div class="form-group">
                        <input type="text" class="form-input" name="confirm password" id="password" placeholder="Confirm Password"/>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit submit" value="Sign up"/>
                        <a href="signin.html" class="submit-link submit">Already a member, Sign in</a>
                    </div>
                </form>
            </div>
        </div>
        
            </div>
                    

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>