<!DOCTYPE html>
<html>
<head>	
	<title>Artemis-Arrow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Paytone+One|Righteous" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> </li>
</head>
<body>
    		<div class="search-box">
		  <!-- The form -->
<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"class="search.btn"><i class="fa fa-search"></i></button>
</form>
		    
		    <div class="searched-item">
		    	
		    </div>
		</div>
     <nav><button class="btn" id="logout-
                btn">Logout</button></nav>
     <h1>Welcome to Artemis Arrow</h1><br>
    <h3>Your gateway to unlimited songs, books, anime, and more....</h3>
            <h2>What do you want to see today???</h2>
   
	<div id="selection"> 
			<div id="book">
				<button id="book-btn">BOOKS</button>
			</div>
			<div id="songs">
				<button id="song-btn">SONGS</button>
			</div>
			<div id="anime">
				<button id="anime-btn">ANIME</button>
			</div>
	</div>
	<div class="container">
		<div class="title">
           			

			
		</div><br><br>

		<div class="watch-later">
			<span class="section-title">Watch Later</span>
			<div class="songs card">
				<span class="card-heading">SONGS</span>
				<ul>
					<li>song1  <i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
					<li>song2  <i class="fa fa-download"> </i>  <i class="fa fa-file"></i></li>
					<li>song3  <i class="fa fa-download"> </i>  <i class="fa fa-file"></i></li>
				</ul>
			</div>
			<div class="anime card">
				<span class="card-heading">ANIME</span>
				<ul>
					<li>anime1 <i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
					<li>anime2 <i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
					<li>anime3 <i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
				</ul>
			</div>
			<div class="books card">
				<span class="card-heading">BOOKS</span>
				<ul>
					<li>book1 <i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
					<li>book2 <i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
					<li>book3 <i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
				</ul>
			</div>
		</div>

		<div class="most-popular card">
				<span class="card-heading">MOST POPULAR</span>
				<ul>
					<li>song <i class="fa fa-plus"> </i><i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
					<li>anime <i class="fa fa-plus"> </i><i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
					<li>book <i class="fa fa-plus"> </i><i class="fa fa-download"> </i>   <i class="fa fa-file"></i></li>
				</ul>
			</div>
	</div>
	<div id="upload-files" >
        <h4>You can now even upload your favorite content to your Drive</h4>
		<button type="button"class="gbtn" style="font-size: 24px"><i class="material-icons">cloud_upload</i> Google Drive</button>
	</div>

<div id = 'flashes'>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
</div>
		


	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<!--	<script type="text/javascript" src="../js/profile_script.js"></script>	-->

</body>
</html>
