<!DOCTYPE html>
<html>
<head>
	<title>Artemis-Arrow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" type="text/css" href="../static/Reg.css">
</head>
    <body>
       
        <div id="register">
            <h2>Register</h2>
            
				<form id="registration">
  					<input type="text" name="fname" id="button" placeholder="Firstname"><br><br>
                    <input type="text" name="lname" id="button" placeholder="Lastname"><br><br>
                    <input type="email" name="umail" id="button" placeholder="Email ID"><br><br>
                    <input type="text" name="username" id="button" placeholder="Username"><br><br>
                    <input type="password" name="pword" id="button" placeholder="Password"><br><br>
                    <input type="password" name="pwd" id="button" placeholder="Confirm Password"><br><br>
                    <input class="butt" type="submit" value="Register" >
                    <p class="or">OR</p>
                    <button class="loginBtn loginBtn--facebook">
  Login with Facebook
</button>

<button class="loginBtn loginBtn--google">
  Login with Google
</button>
                    </form> 
                 
				
			</div>
		

		<div id="selection"> 
	
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/index_script.js"></script>
</body>
</html>
    