<!DOCTYPE html>
<html>
<head>
	<title>Artemis-Arrow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Righteous" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../static/css/signin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<div class="home-div"> <a class="home" href="{{ url_for('main') }}">Home</a></div>
<div class="container">
	<div class="box"><br><br>
		<div id="title">
			<div class="main-title">Artemis <span class="red-span">Arrow</span></div>
		</div>

		<div class="secondary-title">Welcome <span class="violet-span">Back</span></div>

		<div class="login-text"><span class="bottom-bar">The<span class="world"> World</span> awaits</span></div>

		<div id="login">
				<form action="{{ url_for('login') }}" method="post" >
					<div class="input-div">
						<i class="fas fa-user"></i><input class="t-input" type="email" id="email" name="email" placeholder="Username" required>	
					</div>
                    <br>

					<div class="input-div">
						<i class="fas fa-key"></i></i>	<input class="t-input" type="password" id="pass" name="password" placeholder="Password" required>	
					</div>

					<div class="input-div">
							<button type="submit" class="register-btn">sign in</button>
					</div>
				</form>

				<div class="quote">Not all who <span class="green-span">wander</span> are lost</div>

		</div>
	</div>
</div>


	<div id = 'flashes'>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
			  {% for message in messages %}
				 {{ message }}
			  {% endfor %}
		   {% endif %}
		{% endwith %}
	</div>

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</body>
</html>
