<!DOCTYPE html>
<html>
<head>
	<title>Artemis-Arrow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/index_styles.css">
</head>
<body>
    <p style="color:aliceblue">Welcome Back to Artemis Arrow. Please sign in to enter a magical world.</p>
    <div id="login">
				<br>
				<form action={{ url_for('login') }} method='post' >
  					 Email:<br>
 					 <input type="text" name="email" placeholder = "email@xyz.com" required="true">
 					 <br><br>
					 Password:<br>
					 <input type="password" name="password" placeholder = "" required="true">
					 <br><br>
					 <button class="btn" id="login-btn">LOGIN</button>
				</form> 
        
	</div>

	<div id = 'flashes'>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
			  {% for message in messages %}
				 {{ message }}
			  {% endfor %}
		   {% endif %}
		{% endwith %}
	</div>

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="../static/js/index_script.js"></script> -->
</body>
</html>
