<!DOCTYPE html>
<html>
<head>
	<title>Artemis-Arrow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/index_styles.css">
	<link rel="stylesheet" type="text/css" href="../static/css/Reg.css">
	<link rel="stylesheet" type="text/css" href="../static/css/signin.css">
</head>
<body>

<div class="container">
	<div class="box">
		<div id="title">
			<div class="main-title">Artemis <span class="red-span">Arrow</span></div>
		</div>

		<div class="secondary-title">Welcome <span class="green-span">Back</span></div>

		<div class="login-text"><span class="bottom-bar">the world awaits</span></div>

		<div id="login">
				<form action="{{ url_for('login') }}" method="post" >
					<div class="input-div">
						<input class="t-input" type="email" id="email" placeholder="Email Address" required>	
					</div>

					<div class="input-div">
							<input class="t-input" type="password" id="pass" placeholder="Password" required>	
					</div>

					<div class="input-div">
							<button type="submit" class="register-btn">sign in</button>
					</div>
				</form>

				<div class="quote">Not all who <span class="green-span">wander</span> are lost</div>

		</div>
	</div>
</div>

<div class="home-div"> <a class="home" href="{{ url_for('main') }}">Home</a></div>

	<div id = 'flashes'>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
			  {% for message in messages %}
				 {{ message }}
			  {% endfor %}
		   {% endif %}
		{% endwith %}
	</div>

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</body>
</html>
