<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>signup_page</title>
  </head>
  <body>
    <p><h2>Fill the entries for SignUp on Path blog page</h2></p>
    <form action="/login.html">
      First Name:<br>
      <input type="text" name="firstname" required><br>
      Last Name:<br>
      <input type="text" name="lastname" required><br>
      Age:<br>
      <input type="number" name="age" required><br>
      E-mail:<br> 
      <input type="email" name="emailaddress"><br>
      Password:<br>
      <input type="password" name="Password" id="password" required><br>
      Confirm password:<br>
      <input type="password" name="cnfPassword" id="cnfPassword" required><br>
      <br>
      <br>
      <input type="submit" onclick="return Validate()">
      <script type="text/javascript">
        function Validate() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("cnfpassword").value;
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>
    </form>
  </body>
</html>

